.text{
    font-family: "Tauri", sans-serif;

}
.heading{
    font-family: "Tauri", sans-serif;
}
.subHeading{
    font-family: "Tauri", sans-serif;

}

.subHeadingText{
    font-family: "Tauri", sans-serif;

}